@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/InstrumentSans[wdth,wght].woff2) format('woff2');
}

@font-face {
  font-family: 'Instrument Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/InstrumentSans-Italic[wdth,wght].woff2) format('woff2');
}

@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/InstrumentSans[wdth,wght].woff2) format('woff2');
}


@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/InstrumentSans[wdth,wght].woff2) format('woff2');
}

@font-face {
  font-family: 'Instrument Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/InstrumentSans-Italic[wdth,wght].woff2) format('woff2');
}

html,
body {
  font-family: "Instrument Sans", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #250e51;
  background-color: #fff8f8;
  scrollbar-color: #3a5779 #EEAECA;
}

body {
  max-width: 55ch;
  margin: auto;
  padding: 0em 1em;
}

#navi {
  padding: 1em 0em;
  display: flex;
  gap: 1em;
}

#brand a,
#brand a b {
  text-decoration: none;
  font-weight: 600;
}

#brand a:hover,
a:hover {
  color: #EEAECA;
  background-image: linear-gradient(45deg, #EEAECA, #94BBE9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

::selection {
  background-color: #EEAECA;
  color: #3a5779;
}

#post_content p,
#post_content li {
  text-align: justify;
  line-height: 1.5;
}

.section_items {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

#view a {
  color: #044cf9;
  font-weight: 400;
}

#post_content blockquote {
  border: 1px solid #350f71;
  margin: 1em 1.20em;
  padding: 1em 1.20em;
  /* clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);*/
  /*clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);*/
  border-radius: .5em;
  background-color: white;
  text-wrap: inherit;
}

pre[class^="language-"] {
  border: 1px solid #350f71;
  margin: 1em 1.20em;
  padding: 1em 1.20em;
  border-radius: .5em;
}

#post_content pre[class^="language-"],
#post_content blockquote {
  /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  overflow: scroll;
}

#post_content img {
  max-width: 100%;
  border: 1px solid rgba(149, 157, 165, 0.2);
  border-radius: .5em;
  margin: auto;
}